<!doctype html>
  <head>
    <title>Immuzation SJ</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <a href="{{ url_for('get_records') }}" id="logo">
        <h1>Immunize CA</h1>
      </a>
      <nav>
        <ul>
          <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
      </nav>
      <div class="metanav">
      {% if session.logged_in %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
      </div>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    </header>
    <div id="wrapper">
      {% block body %}{% endblock %}
      
      <footer>
        <a href="http://twitter.com/codeforsanjose" target="_blank"><img src="{{ url_for('static', filename='img/twitter-wrap.png') }}" alt="Twitter logo" class="social-icon"></a>
        <a href="http://fb.com/codeforsanjose" target="_blank"><img src="{{ url_for('static', filename='img/facebook-wrap.png') }}" alt="Facebook logo" class="social-icon"></a>  
      
        <p>Brought to you by Code for San Jose.</p>
      </footer>
    </div>
  </body>
</html>